<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	
	
	<h:messages />
	
    <h:dataTable var="livro" value="#{adminListaLivrosBean.livros}">
        <h:column>
            <f:facet name="header">Título</f:facet>
            #{livro.titulo}
        </h:column>
        <h:column>
            <f:facet name="header">Descrição</f:facet>
            #{livro.descricao}
        </h:column>
        <h:column>
            <f:facet name="header">Páginas</f:facet>
            #{livro.numeroPaginas}
        </h:column>
        <h:column>
            <f:facet name="header">Preço</f:facet>
            #{livro.preco}
        </h:column>
        <h:column>
            <f:facet name="header">Autores</f:facet>
            <ui:repeat value="#{livro.autores}" var="autor">
                #{autor.nome},
            </ui:repeat>
        </h:column>
        <h:column>
    <f:facet name="header">Capa Path</f:facet>
    <img src="#{request.contextPath}/file/#{livro.capaPath}" height="30%" alt="#{livro.titulo}" />
</h:column>
	</h:dataTable>
	
	
</html>
