<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:xlink="http://www.w3.org/1999/xlink">

<f:metadata>
    <f:viewParam id="id" name="id" value="#{livroDetalheBean.id}"/>
    <f:viewAction action="#{livroDetalheBean.carregarDetalhe()}"/>
</f:metadata>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" href="#{request.contextPath}/resources/imagens/favicon.ico" type="image/ico" />
	<link href="https://plus.google.com/108540024862647200608" rel="publisher" />

	<title>#{livroDetalheBean.livro.titulo} - Casa do Código</title>

<script type="text/javascript" async="" src="#{request.contextPath}/resources/js/pixel.js"></script>
<script type="text/javascript" async="" src="#{request.contextPath}/resources/js/ec.js"></script>
<script type="text/javascript" async="" src="#{request.contextPath}/resources/js/analytics.js"></script>
<script type="text/javascript" async="" src="#{request.contextPath}/resources/js/userreport.js"></script>
<script src="#{request.contextPath}/resources/js/eoo8tyd.js" async=""></script>
<script type="text/javascript" async="" src="#{request.contextPath}/resources/js/shopify_stats.js"></script>
<script async="" src="#{request.contextPath}/resources/js/trekkie.storefront.min.js"></script>
<script async="" src="#{request.contextPath}/resources/js/shop_events_listener-002c206011fad5a2879a7a294d2ab2bc92451d9e2b5bbd0e634db3265e15665e.js"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/js/ga_urchin_forms-0826cdefee6590321eb5c0c435eeebf7a8425a5493a9e95059c40e07e069ad52.js"></script>


	<link rel="stylesheet" href="#{request.contextPath}/resources/css/reset.css" />

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/container.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/cabecalhoPrincipal.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/logo.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/colecoesDaCDC.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/buscaPrincipal.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/sacola.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/infoSection.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/imagemLivroNinja.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/livroNaVitrine.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/vitrineDestacao.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/vitrineDestaquinho.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/camiseta.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/tamanhoDasCamisetas.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/adicionarCamisetaAoCarrinho.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/cabecalhoProdutoLivro.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/adicionarAoCarrinho.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/produtoEmPreVenda.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/conteudoDoLivro.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/autoresDoLivro.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/comentariosDoLivro.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/infosAdicionaisDoLivro.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/recomendacoesDoLivro.css" />

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/cabecalhoDaColecao.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/vitrineDaColecao.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/curadorDaColecao.css" /> 

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/carrinho.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/formularioDoCarrinho.css" />

	<link href="#{request.contextPath}/resources/css/compartilhar.css" rel="stylesheet" />

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/busca.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/paginacao.css" />

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/rodape.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/categorias.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/caelumGroup.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/buscaDoRodape.css" />

	<link rel="stylesheet" href="#{request.contextPath}/resources/css/e404.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/frete.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/sobre.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/faq.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/homeCall.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/l" media="all" />

<script src="#{request.contextPath}/resources/js/settings.js" async="" class="lazyload" charset="utf-8"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/js/pub_5d9e31afbcac9492bffa.js"></script>
<script src="#{request.contextPath}/resources/js/SystemSettings.js" async="" class="lazyload" charset="utf-8"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/js/jquery.min.js"></script>

</head>

<body cz-shortcut-listen="true">
	<header role="banner" class="cabecalhoPrincipal container">
		<h1 class="cabecalhoPrincipal-titulo">
			<a tabindex="1" href="https://www.casadocodigo.com.br/" class="cabecalhoPrincipal-linkTitulo">
				<svg class="logo" role="img" aria-labelledby="altLogo" width="157px" height="55px" viewBox="-181 211.4 207.5 55" preserveAspectRatio="xMinYMid slice">
	<title id="altLogo">Casa do Código - Livros e Tecnologia</title>
	<rect class="logo-backgroundSimbolo" x="-181" y="211.4" width="65" height="55"></rect>
	<g class="logo-simbolo">
		<path transform="translate(-0.1, 0)" class="logo-simboloParteInterna" d="M-133.6,234.2v-7.2l0,0.2h-22.6v24.7h22.6v0.3l0-7.2h-15.9v-10.8H-133.6"></path>
		<path class="logo-simboloParteExterna" d="M-149.4,251.9h-6.9v-24.7h22.6v-6.9h-22.6l-6.7,6.9v24.7l6.7,6.9h22.6v-6.9H-149.4"></path>
	</g>

	<g class="logo-text">
		<path transform="translate(-78.000000, -35.000000)" class="logo-slogan" d="M-18.5,288h-5.1v-8.7h1.2v7.7h3.9V288z M-15,288h-1.1v-6.5h1.1V288z M-14.9,280.3h-1.3v-1.1
			h1.3V280.3z M-6.8,281.4l-2.5,6.5h-1l-2.4-6.5h1.2l1.8,5.1l1.8-5.1H-6.8z M-1,282.6L-1,282.6c-0.9-0.2-1.8,0.1-2.4,0.7v4.6
			h-1.1v-6.5h1.1v1c0.7-0.6,1.4-1.1,2.4-0.9V282.6z M6.7,284.7c0,1.7-0.9,3.4-2.8,3.4c-2.1,0.1-3.1-1.7-3.1-3.6
			c0.1-1.7,1-3.3,2.9-3.3C5.8,281.3,6.7,282.9,6.7,284.7L6.7,284.7z M5.6,284.7c0-1.2-0.4-2.5-1.8-2.5c-1.4,0-1.8,1.3-1.8,2.5
			c0,1.2,0.4,2.5,1.8,2.5C5.2,287.2,5.6,285.9,5.6,284.7L5.6,284.7z M11.1,288.1c-0.8,0-1.5-0.2-2.2-0.6v-1.2H9
			c0.3,0.2,0.5,0.4,0.8,0.5c0.7,0.3,1.7,0.5,2.3,0.1c0.9-0.6,0.2-1.5-0.6-1.7c-0.4-0.1-0.8-0.2-1.2-0.3c-1.3-0.4-1.9-1.9-1-3
			c0.9-1.1,2.9-0.9,4-0.3v1.2h-0.1c-0.7-0.6-2.6-1.3-3.2-0.2c-0.7,1.2,1.3,1.4,2,1.6c1.5,0.4,2,2.2,0.8,3.2
			C12.5,288,11.8,288.1,11.1,288.1L11.1,288.1z M24.3,288.1c-2.9,0-4.3-3.3-2.7-5.6c0.7-1,2-1.5,3.3-1.1c1.3,0.4,1.8,1.6,1.8,2.9
			v0.6h-4.5c0,2,1.8,2.9,3.5,2.1c0.3-0.1,0.6-0.3,0.8-0.5h0.1v1.2c-0.3,0.1-0.7,0.3-1,0.4C25.1,288.1,24.7,288.1,24.3,288.1
			L24.3,288.1z M25.6,284c0-0.4-0.1-0.9-0.4-1.3c-0.6-0.8-1.9-0.6-2.5,0c-0.3,0.4-0.5,0.8-0.5,1.3H25.6z M36.7,288v-7.7h-2.9v-1
			h7v1h-2.9v7.7H36.7z M44.7,288.1c-2.9,0-4.3-3.3-2.7-5.6c0.7-1,2-1.5,3.3-1.1c1.3,0.4,1.8,1.6,1.8,2.9v0.6h-4.5
			c0,2,1.8,2.9,3.5,2.1c0.3-0.1,0.6-0.3,0.8-0.5h0.1v1.2c-0.3,0.1-0.7,0.3-1,0.4C45.5,288.1,45.1,288.1,44.7,288.1L44.7,288.1z
			 M45.9,284c0-0.4-0.1-0.9-0.4-1.3c-0.6-0.8-1.9-0.6-2.5,0c-0.3,0.4-0.5,0.8-0.5,1.3H45.9z M52.2,288.1c-2.4,0-3.4-2.2-3-4.4
			c0.5-2.4,2.9-3,4.9-2v1.2h-0.1c-0.2-0.2-0.5-0.4-0.8-0.5c-2-1-3.2,0.8-3,2.7c0.2,2,2.3,2.5,3.8,1.2h0.1v1.2
			c-0.3,0.1-0.6,0.3-0.9,0.3C53,288.1,52.6,288.1,52.2,288.1L52.2,288.1z M61.8,288h-1.1v-3.7c0-0.5,0-1-0.2-1.5
			c-0.6-1.1-2.1-0.2-2.7,0.3v4.9h-1.1v-6.5h1.1v0.7c1.7-1.5,4-0.9,4,1.6V288z M70.2,284.7c0,1.7-0.9,3.4-2.8,3.4
			c-2.1,0.1-3.1-1.7-3.1-3.6c0.1-1.7,1-3.3,2.9-3.3C69.3,281.3,70.2,282.9,70.2,284.7L70.2,284.7z M69.1,284.7
			c0-1.2-0.4-2.5-1.8-2.5c-1.4,0-1.8,1.3-1.8,2.5c0,1.2,0.4,2.5,1.8,2.5C68.7,287.2,69.1,285.9,69.1,284.7L69.1,284.7z M74,288
			h-1.1v-9.1H74V288z M82.5,284.7c0,1.7-0.9,3.4-2.8,3.4c-2.1,0.1-3.1-1.7-3.1-3.6c0.1-1.7,1-3.3,2.9-3.3
			C81.6,281.3,82.5,282.9,82.5,284.7L82.5,284.7z M81.4,284.7c0-1.2-0.4-2.5-1.8-2.5c-1.4,0-1.8,1.3-1.8,2.5
			c0,1.2,0.4,2.5,1.8,2.5C81,287.2,81.4,285.9,81.4,284.7L81.4,284.7z M89.1,286.2v-3.6c-1.7-0.8-3.2-0.1-3.2,1.9
			c0,0.7,0,1.7,0.7,2.2C87.3,287.1,88.4,286.7,89.1,286.2L89.1,286.2z M85.4,289c0.3,0.1,0.5,0.2,0.8,0.3
			c0.8,0.2,1.9,0.4,2.5-0.3c0.3-0.4,0.3-0.8,0.3-1.3v-0.6c-1.2,1.1-3.2,1.1-4-0.5c-0.7-1.3-0.6-3.4,0.4-4.5
			c0.9-1,2.4-1.1,3.5-0.4l0.1-0.3h1v5.8c0,1.1-0.2,2.2-1.2,2.8c-1.1,0.6-2.6,0.5-3.7,0.1L85.4,289L85.4,289z M94.4,288h-1.1v-6.5
			h1.1V288z M94.5,280.3h-1.3v-1.1h1.3V280.3z M101.2,286.4v-1.8c-0.7,0.1-1.3,0.1-2,0.3c-0.8,0.3-1.4,1.3-0.7,2
			C99.3,287.6,100.5,286.9,101.2,286.4L101.2,286.4z M101.2,287.3c-0.3,0.2-0.5,0.4-0.8,0.6c-0.9,0.5-2,0.5-2.7-0.3
			c-1-1-0.7-2.8,0.6-3.4c0.9-0.4,2-0.4,2.9-0.5v-0.2c0-0.4-0.1-0.8-0.4-1c-0.8-0.5-2.2-0.1-3.1,0.2h-0.1v-1.1
			c1.2-0.3,2.9-0.6,4,0.2c0.5,0.4,0.7,1.1,0.7,1.7v4.5h-1.1V287.3z"></path>
		<path class="logo-casaDoCodigo" transform="translate(-77.000000, -14.000000)" d="M-16.8,250.8c-2.2,0.6-4.7-0.1-5.9-2.1c-1.1-1.9-1.2-4.6-0.6-6.7
			c0.8-2.6,2.9-3.8,5.5-3.6c0.5,0,1.8,0.5,2.1,0.3c0.3-0.2,0.6-1,0.9-1.3c-2.5-0.9-5.6-1.1-7.9,0.5c-2.2,1.6-2.9,4.4-2.9,7
			c0,2.6,0.8,5.5,3.2,6.9c2.3,1.4,5.7,1.2,7.8-0.4c-0.2-0.2-0.5-0.6-0.7-0.8c-0.1,0-0.1-0.2-0.2-0.2
			C-15.8,250.2-16.6,250.7-16.8,250.8C-17.3,250.9-16.4,250.6-16.8,250.8z M51.7,250.4c-2.2,0.6-4.7-0.1-5.9-2.1
			c-1.1-1.9-1.2-4.5-0.6-6.6c0.7-2.5,2.7-3.9,5.3-3.7c0.5,0,1,0.1,1.4,0.2c0.3,0.1,0.7,0.3,0.9,0.2c0.3-0.1,0.7-1.1,0.9-1.4
			c-2.5-0.9-5.6-1.1-7.9,0.5c-2.2,1.6-2.9,4.4-2.9,7c0,2.6,0.8,5.5,3.2,6.9c2.3,1.4,5.7,1.2,7.8-0.4c-0.2-0.2-0.5-0.6-0.7-0.8
			c-0.1,0-0.1-0.2-0.2-0.2C52.7,249.8,51.9,250.3,51.7,250.4C51.2,250.5,52.1,250.2,51.7,250.4z M-5.7,251.1
			c-0.6-1.6-0.2-3.7-0.2-5.4c0-1.5,0.1-3.3-1.5-4.1c-1.4-0.7-3.5-0.4-4.9,0c-0.3,0.1-0.9,0.2-1.1,0.4c-0.4,0.4-0.2,0-0.1,0.4
			c0,0.3,0.3,0.8,0.4,1.1c1.1-0.6,2.9-1,4.2-0.7c1.5,0.4,1.4,2,1.2,3.3c-0.8-0.1-1.7-0.1-2.5,0c-1.1,0.1-2.3,0.1-3.1,0.7
			c-1.8,1.4-1.8,4.4,0.4,5.4c1,0.5,2.3,0.4,3.3,0.1c0.5-0.1,1-0.4,1.4-0.7c0.1-0.1,0.6-0.7,0.7-0.7c0.2,0,0.4,1,0.6,1.2
			c0.2,0.2,0.3,0.3,0.6,0.3c0.5,0.1,1,0,1.5,0C-5.1,252-5.5,251.6-5.7,251.1C-5.9,250.6-5.5,251.6-5.7,251.1z M-7.6,249.2
			c-0.5,1.3-2.2,1.9-3.5,1.7c-1.5-0.2-2.3-2.1-0.9-3.1c0.6-0.4,1.3-0.4,2-0.4c0.4,0,1.9-0.3,2.3,0
			C-7.5,247.6-7.6,248.7-7.6,249.2z M1.7,246.7c-1.1-0.8-4.6-1.1-3.9-3.2c0.6-1.6,3.5-0.8,4.5-0.3c0.1-0.3,0.5-1.2,0.4-1.4
			c-0.1-0.2-1.1-0.4-1.4-0.5c-0.5-0.1-1.1-0.2-1.7-0.2c-2.3-0.1-4.3,1.3-3.6,3.9c0.3,1.1,1.3,1.7,2.2,2.1c1,0.4,2.7,0.7,3,2
			c0.6,2.9-3.8,2-5.1,1.3c-0.1,0.3-0.2,0.6-0.3,0.9c-0.2,0.5-0.3,0.6,0.3,0.8c1.2,0.5,2.7,0.7,4,0.5C3,252.1,4.3,248.4,1.7,246.7
			z M12.8,251.1c-0.6-1.6-0.2-3.7-0.2-5.4c0-1.5,0.1-3.3-1.5-4.1c-1.4-0.7-3.5-0.4-4.9,0c-0.3,0.1-0.9,0.2-1.1,0.4
			c-0.4,0.4-0.2,0-0.1,0.4c0,0.3,0.3,0.8,0.4,1.1c1.1-0.6,2.9-1,4.2-0.7c1.5,0.4,1.4,2,1.2,3.3c-0.8-0.1-1.7-0.1-2.5,0
			c-1.1,0.1-2.3,0.1-3.1,0.7c-1.8,1.4-1.8,4.4,0.4,5.4c1,0.5,2.3,0.4,3.3,0.1c0.5-0.1,1-0.4,1.4-0.7c0.1-0.1,0.6-0.7,0.7-0.7
			c0.2,0,0.4,1,0.6,1.2c0.2,0.2,0.3,0.3,0.6,0.3c0.5,0.1,1,0,1.5,0C13.3,252,13,251.6,12.8,251.1C12.6,250.6,13,251.6,12.8,251.1
			z M10.9,249.2c-0.5,1.3-2.2,1.9-3.5,1.7c-1.5-0.2-2.3-2.1-0.9-3.1c0.6-0.4,1.3-0.4,2-0.4c0.4,0,1.9-0.3,2.3,0
			C11,247.6,10.9,248.7,10.9,249.2z M27.9,248.5c0-2.6,0-5.1,0-7.7c0-0.7,0-1.5,0-2.2c0-0.4,0.1-1.1,0-1.5
			c-0.1-0.4,0-0.3-0.6-0.3c-0.2,0-0.8-0.1-1,0c-0.3,0.1,0-0.1-0.2,0.2c-0.3,0.6,0,1.8,0,2.5c0,0.6,0,1.3,0,1.9
			c-2.3-0.8-5.3-0.4-6.6,1.9c-1.1,2-1.1,5.5,0.1,7.5c1.3,2,4.6,2.2,6.3,0.5c0.3-0.3,0.3-0.6,0.6-0.5c0.1,0.1,0.2,0.9,0.3,1
			c0.1,0.3,0,0.3,0.3,0.4c0.2,0.1,0.8,0,1,0C27.9,251.1,27.9,249.8,27.9,248.5z M26.1,248.7c-0.3,1.3-1,2.2-2.4,2.3
			c-1.4,0.1-2.4-0.6-2.8-1.9c-0.7-2.1-0.5-5.7,2.1-6.4c0.7-0.2,2.7-0.3,3.1,0.5c0.2,0.3,0,1.2,0,1.6
			C26.1,246.2,26.1,247.4,26.1,248.7z M37.4,242.6c-1.8-2.3-5.9-2.1-7.5,0.3c-1.4,2.1-1.4,6,0.2,8.1c1.7,2.2,5.7,2.1,7.4-0.1
			C39.1,248.8,39.1,244.7,37.4,242.6C37,242.1,37.8,243.2,37.4,242.6z M33.8,251.1c-2.7,0-3.1-3.1-3-5.1c0.2-1.8,1-3.3,3-3.3
			c2.7,0,3.2,3,3,5.1C36.6,249.5,35.7,251.1,33.8,251.1C33.2,251.1,35.8,251.1,33.8,251.1z M62.6,236.7c-0.5,0-1,0-1.5,0
			c-0.6,0-0.5-0.1-0.8,0.3c-0.7,0.8-1.2,1.9-1.7,2.8c0.4,0,1,0.1,1.3,0c0.2-0.1,0.5-0.6,0.7-0.8
			C61.2,238.3,61.9,237.5,62.6,236.7z M59.8,241.1c-2.3,0-4.3,1.4-5,3.6c-0.7,2.2-0.3,5,1.6,6.5c1.6,1.3,4,1.4,5.8,0.4
			c2.1-1.1,2.9-3.6,2.6-5.8C64.5,243,62.5,241.1,59.8,241.1z M59.7,250.7c-4.4,0-4.3-8.4,0.2-8.2
			C64.1,242.7,63.9,250.7,59.7,250.7z M76.3,236.3c-0.4,0-1.7-0.2-1.9,0c-0.2,0.2,0,1.5,0,1.7c0,1.5,0,3.1,0,4.6
			c-1.3-1.5-3.3-2.1-5.2-1.1c-1.9,1-2.8,3.2-2.8,5.2c0,2.1,0.9,4.3,2.9,5.1c0.9,0.4,2,0.4,3,0.1c0.5-0.2,1-0.4,1.4-0.8
			c0.3-0.3,0.6-0.9,0.9-1.1c0,0.4-0.1,1.6,0.1,1.8c0.2,0.2,1.4,0,1.7,0C76.1,246.7,76.3,241.5,76.3,236.3z M74.4,247.5
			c0,2.2-2.3,3.9-4.3,2.8c-1.9-1-2.1-3.8-1.4-5.6c0.7-1.9,3-2.9,4.7-1.5C74.6,244.3,74.4,246,74.4,247.5z M90.2,242.9
			c-0.6-0.6-1-1.3-1.9-1.6c-1-0.4-2.1-0.3-3,0c-2,0.7-3.1,2.7-3.3,4.7c-0.2,2.1,0.6,4.4,2.6,5.4c0.9,0.5,2,0.6,3,0.3
			c1.1-0.3,1.6-1,2.4-1.7c0,1.4,0.1,3.1-1.1,4.2c-1.4,1.2-4,0.8-5.4-0.1c-0.1,0.3-0.2,0.7-0.3,1c-0.2,0.6,0,0.6,0.6,0.9
			c1.3,0.5,2.9,0.6,4.3,0.4c3-0.6,3.9-3,3.9-5.8c0-3.1-0.2-6.2,0.1-9.3c-0.3,0-1.5-0.2-1.7,0C90.1,241.5,90.2,242.6,90.2,242.9z
			 M89.9,247.4c0,2.4-2.7,3.9-4.6,2.4c-1.6-1.2-1.7-3.8-0.9-5.5c0.8-1.7,3.2-2.5,4.6-1C90.2,244.4,89.9,246,89.9,247.4z
			 M98.4,241.1c-2.2,0-4.2,1.3-4.9,3.4c-0.8,2.2-0.3,5,1.5,6.5c1.6,1.3,4,1.5,5.8,0.6c2.2-1.1,3-3.6,2.7-5.9
			C103.1,243,101.1,241.1,98.4,241.1z M98.3,250.7c-4.4,0-4.3-8.4,0.2-8.2C102.7,242.7,102.5,250.7,98.3,250.7z M79.2,236.3
			c-1.5,0-1.6,2.4,0,2.4C80.7,238.7,80.8,236.3,79.2,236.3z M78.2,241.3c0.4,0,1.7-0.2,1.9,0.1c0.2,0.3,0,1.6,0,1.9
			c0,2.3,0,4.6,0,6.9c0,0.3,0.2,1.6,0,1.8c-0.1,0.1-1.8,0.1-1.9,0c-0.2-0.2,0-1.4,0-1.6c0-1.1,0-2.2,0-3.3
			C78.2,245.1,78.2,243.2,78.2,241.3z"></path>
	</g>
</svg>

			</a>
		</h1>

		<div id="navegacaoCabecalho" class="cabecalhoPrincipal-navegacao">
			<div class="cabecalhoPrincipal-categoriasEBusca" role="presentation">
				<nav role="navigation" aria-label="Categorias de livros" class="colecoesDaCDC">
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/todos" class="colecoesDaCDC-colecaoLink">
								Todos
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-front-e-design" class="colecoesDaCDC-colecaoLink">
								Front e Design
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-games" class="colecoesDaCDC-colecaoLink">
								Games
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-gestao" class="colecoesDaCDC-colecaoLink">
								Gestão
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-java" class="colecoesDaCDC-colecaoLink">
								Java
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-mobile" class="colecoesDaCDC-colecaoLink">
								Mobile
							</a>
						</li>
					
						<li class="colecoesDaCDC-colecaoItem">
							<a href="https://www.casadocodigo.com.br/collections/livros-de-desenvolvimento-web" class="colecoesDaCDC-colecaoLink">
								Web
							</a>
						</li>
					
				</nav>
				<form role="search" aria-labelledby="rotuloBuscaPrincipal" action="https://www.casadocodigo.com.br/search" method="GET" class="buscaPrincipal">
					<label id="rotuloBuscaPrincipal" class="buscaPrincipal-label" for="campoBuscaPrincipal">
						Busque por autor, título, conteúdo...
					</label>
					<input type="hidden" name="type" value="product" />
					<input id="campoBuscaPrincipal" class="buscaPrincipal-campo" placeholder="O que você procura?" type="search" name="q" required="" aria-required="" /><!-- 
				 --><button class="buscaPrincipal-submit" type="submit">
						Buscar
					</button>
				</form>
			</div>

			<a tabindex="2" class="cabecalhoPrincipal-itemNavegacao cabecalhoPrincipal-mostraCategoriasEBusca" href="https://www.casadocodigo.com.br/products/livro-certificacao-java-associate#navegacaoCabecalho">
				<img class="cabecalhoPrincipal-iconeItemNavegacao" src="#{request.contextPath}/resources/imagens/search.svg" alt="Abrir navegação por categorias e busca" />
			</a>

			<a tabindex="-1" class="cabecalhoPrincipal-itemNavegacao cabecalhoPrincipal-escondeCategoriasEBusca" href="https://www.casadocodigo.com.br/products/livro-certificacao-java-associate#">
				<img class="cabecalhoPrincipal-iconeItemNavegacao" src="#{request.contextPath}/resources/imagens/search.svg" alt="Ir para ao topo da página" />
			</a>

			<a tabindex="3" href="https://www.casadocodigo.com.br/cart" title="Ir para sacola de compras" class="sacola cabecalhoPrincipal-itemNavegacao">
				<svg width="28px" height="34px" viewBox="0 0 28 34" role="img" aria-labelledby="sacolaLabel" class="sacola-icone">
					<title id="sacolaLabel">
						Você tem 0 itens na sacola
					</title>
					<path fill="#f8965d" d="M1.66666667,26.9714355 L18.3333333,26.9714355 C19.2533333,26.9714355 20,26.2247689 20,25.3047689 L20,6.97143555 C20,6.05143555 19.2533333,5.30476888 18.3333333,5.30476888 L14.9916667,5.30476888 C14.9516667,2.53643555 12.735,0.30476888 10,0.30476888 C7.265,0.30476888 5.04833333,2.53643555 5.00833333,5.30476888 L1.66666667,5.30476888 C0.746666667,5.30476888 0,6.05143555 0,6.97143555 L0,25.3047689 C0,26.2247689 0.746666667,26.9714355 1.66666667,26.9714355 L1.66666667,26.9714355 Z M12.5,10.3047689 L7.5,10.3047689 C7.04,10.3047689 6.66666667,9.93143555 6.66666667,9.47143555 C6.66666667,9.01143555 7.04,8.63810221 7.5,8.63810221 L12.5,8.63810221 C12.96,8.63810221 13.3333333,9.01143555 13.3333333,9.47143555 C13.3333333,9.93143555 12.96,10.3047689 12.5,10.3047689 L12.5,10.3047689 Z M10,1.97143555 C11.8116667,1.97143555 13.285,3.45976888 13.325,5.30476888 L6.675,5.30476888 C6.715,3.45976888 8.18833333,1.97143555 10,1.97143555 L10,1.97143555 Z"></path>
					<g>
						<circle cx="19.5" cy="24.8047689" r="8.5" role="presentation" fill="#FFF"></circle>
						<text text-decoration="none" text-anchor="middle" x="19.5" y="30" class="sacola-contador">0</text>
					</g>
				 </svg>
			</a>
		</div>
	</header>


	<main>
		
	
<article id="livro-certificacao-java-associate" itemscope="" itemtype="http://schema.org/Book">
	<header class="cabecalhoProdutoLivro container">
	
	<div class="cabecalhoProdutoLivro-tituloEAutor">
		<h1 itemprop="name" class="cabecalhoProdutoLivro-titulo">
			<span class="cabecalhoProdutoLivro-titulo-principal" role="presentation">
				#{livroDetalheBean.livro.titulo}
			</span>
		</h1>
		<span class="cabecalhoProdutoLivro-nomeAutor">
			<ui:repeat value="#{livroDetalheBean.livro.autores}" var="autor" varStatus="sts">
				#{autor.nome},
			</ui:repeat>
		</span>
	</div>
	

<div class="imagemLivroNinja " role="img">
	<img class="imagemLivroNinja-principal" src="#{request.contextPath}/file/#{livroDetalheBean.livro.capaPath}" alt="#{livro.titulo}" title="#{livro.titulo}" />
	<div class="imagemLivroNinja-tablet" style="" role="presentation">
		<svg width="181px" viewBox="0 0 181 242" style="width: 100%; height: 1px; padding-bottom: 133.7%; padding-bottom: calc(100%*242/181 - 1px); overflow: visible;" preserveAspectRatio="xMidYMin slice" role="presentation">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<path d="M69.1643321,12.5046687 L111.92731,12.5046687 L111.92731,26.1669056 L69.1643321,26.1669056 L69.1643321,12.5046687 Z" id="Fill-63" fill="#B9BBB8"></path>
				<path d="M174.00728,3.05307652 L6.83436313,3.05307652 C3.25784434,3.05307652 0.332198029,5.97166188 0.332198029,9.53882176 L0.332198029,234.576731 C0.332198029,238.144618 3.25784434,241.063203 6.83436313,241.063203 L174.00728,241.063203 C177.583799,241.063203 180.509445,238.144618 180.509445,234.576731 L180.509445,9.53882176 C180.509445,5.97166188 177.583799,3.05307652 174.00728,3.05307652 L174.00728,3.05307652 Z M85.8370175,19.5175625 L103.403286,19.5175625 C104.367569,19.5175625 105.159111,20.3064676 105.159111,21.2684229 C105.159111,22.2420118 104.367569,23.0200104 103.403286,23.0200104 L85.8370175,23.0200104 C84.8610732,23.0200104 84.0811924,22.2420118 84.0811924,21.2684229 C84.0811924,20.3064676 84.8610732,19.5175625 85.8370175,19.5175625 L85.8370175,19.5175625 Z M77.0484168,19.5175625 C78.0236323,19.5175625 78.8035131,20.3064676 78.8035131,21.2684229 C78.8035131,22.2420118 78.0236323,23.0200104 77.0484168,23.0200104 C76.0834054,23.0200104 75.2925917,22.2420118 75.2925917,21.2684229 C75.2925917,20.3064676 76.0834054,19.5175625 77.0484168,19.5175625 L77.0484168,19.5175625 Z M17.6302458,29.3028943 L163.201193,29.3028943 L163.201193,213.992488 L17.6302458,213.992488 L17.6302458,29.3028943 Z" id="Fill-64" fill="#ddd9d5"></path>
				<path d="M68.8676858,10.0463386 L111.630664,10.0463386 L111.630664,23.7085755 L68.8676858,23.7085755 L68.8676858,10.0463386 Z" id="Fill-65" fill="#ddd9d5"></path>
				<path d="M173.710634,0.594019308 L6.53771688,0.594019308 C2.96119809,0.594019308 0.0355517791,3.51260466 0.0355517791,7.08049164 L0.0355517791,232.117674 C0.0355517791,235.685561 2.96119809,238.604146 6.53771688,238.604146 L173.710634,238.604146 C177.287153,238.604146 180.212799,235.685561 180.212799,232.117674 L180.212799,7.08049164 C180.212799,3.51260466 177.287153,0.594019308 173.710634,0.594019308 L173.710634,0.594019308 Z M85.5403713,13.316114 L103.10664,13.316114 C104.070922,13.316114 104.862465,14.1057462 104.862465,15.0677014 C104.862465,16.0405632 104.070922,16.8185618 103.10664,16.8185618 L85.5403713,16.8185618 C84.5651558,16.8185618 83.7845462,16.0405632 83.7845462,15.0677014 C83.7845462,14.1057462 84.5651558,13.316114 85.5403713,13.316114 L85.5403713,13.316114 Z M76.7517706,13.316114 C77.726986,13.316114 78.5068668,14.1057462 78.5068668,15.0677014 C78.5068668,16.0405632 77.726986,16.8185618 76.7517706,16.8185618 C75.7867592,16.8185618 74.9959455,16.0405632 74.9959455,15.0677014 C74.9959455,14.1057462 75.7867592,13.316114 76.7517706,13.316114 L76.7517706,13.316114 Z M17.3335996,26.8438371 L162.904547,26.8438371 L162.904547,211.533431 L17.3335996,211.533431 L17.3335996,26.8438371 Z" id="Fill-99" fill="#ECE9E6"></path>
				<path d="M95.823865,225.577396 C95.823865,228.717747 93.2721242,231.263329 90.1241754,231.263329 C86.9762266,231.263329 84.4244857,228.717747 84.4244857,225.577396 C84.4244857,222.437772 86.9762266,219.892189 90.1241754,219.892189 C93.2721242,219.892189 95.823865,222.437772 95.823865,225.577396" id="Fill-100" fill="#ddd9d5"></path>
				<rect fill="#FFFFFE" x="17" y="27" width="146" height="185"></rect>
				<image xlink:href="#{request.contextPath}/file/#{livroDetalheBean.livro.capaPath}" x="17" y="27" height="185" width="146" preserveAspectRatio="xMidYMin slice"></image>
			</g>
		</svg>
	</div>
	<div class="imagemLivroNinja-cel" style="" role="presentation">
		<svg width="85px" viewBox="0 0 85 170" style="width: 100%; height: 1px; padding-bottom: 200%; padding-bottom: calc(100%*170/85 - 1px); overflow: visible;" preserveAspectRatio="xMidYMin slice" role="presentation">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<path d="M80.1653569,2.88154085 L5.01327291,2.88154085 C2.5052637,2.88154085 0.453521213,4.92833153 0.453521213,7.43028773 L0.453521213,164.734331 C0.453521213,167.236287 2.5052637,169.283078 5.01327291,169.283078 L80.1653569,169.283078 C82.6733661,169.283078 84.7258375,167.236287 84.7258375,164.734331 L84.7258375,7.43028773 C84.7258375,4.92833153 82.6733661,2.88154085 80.1653569,2.88154085 L80.1653569,2.88154085 Z M39.3746754,14.4286395 L51.6946055,14.4286395 C52.3709881,14.4286395 52.9263799,14.9819637 52.9263799,15.6567139 C52.9263799,16.3394622 52.3709881,16.8855154 51.6946055,16.8855154 L39.3746754,16.8855154 C38.6902753,16.8855154 38.142901,16.3394622 38.142901,15.6567139 C38.142901,14.9819637 38.6902753,14.4286395 39.3746754,14.4286395 L39.3746754,14.4286395 Z M33.2107016,14.4286395 C33.8943728,14.4286395 34.4417471,14.9819637 34.4417471,15.6567139 C34.4417471,16.3394622 33.8943728,16.8855154 33.2107016,16.8855154 C32.534319,16.8855154 31.9796561,16.3394622 31.9796561,15.6567139 C31.9796561,14.9819637 32.534319,14.4286395 33.2107016,14.4286395 L33.2107016,14.4286395 Z M5.21881159,25.4907615 L79.9532585,25.4907615 L79.9532585,148.197862 L5.21881159,148.197862 L5.21881159,25.4907615 Z" fill="#ddd9d5"></path>
				<path d="M35.6268744,148.956229 L51.2849859,148.956229 L51.2849859,163.096171 L35.6268744,163.096171 L35.6268744,148.956229 Z" fill="#ddd9d5"></path>
				<path d="M4.90685927,24.0532818 L80.1136078,24.0532818 L80.1136078,146.608418 L4.90685927,146.608418 L4.90685927,24.0532818 Z" fill="#000"></path>
				<path d="M80.2630243,0.606440311 L5.11021136,0.606440311 C2.60220216,0.606440311 0.550459668,2.65395809 0.550459668,5.15591429 L0.550459668,162.459231 C0.550459668,164.961914 2.60220216,167.008704 5.11021136,167.008704 L80.2630243,167.008704 C82.7703046,167.008704 84.8227759,164.961914 84.8227759,162.459231 L84.8227759,5.15591429 C84.8227759,2.65395809 82.7703046,0.606440311 80.2630243,0.606440311 L80.2630243,0.606440311 Z M53.0233183,13.3823405 C53.0233183,14.0650888 52.4679266,14.6104149 51.791544,14.6104149 L39.4716139,14.6104149 C38.7879426,14.6104149 38.2405684,14.0650888 38.2405684,13.3823405 C38.2405684,12.7075903 38.7879426,12.1542661 39.4716139,12.1542661 L51.791544,12.1542661 C52.4679266,12.1542661 53.0233183,12.7075903 53.0233183,13.3823405 L53.0233183,13.3823405 Z M34.5386855,13.3823405 C34.5386855,14.0650888 33.9920401,14.6104149 33.3076401,14.6104149 C32.6312574,14.6104149 32.0765946,14.0650888 32.0765946,13.3823405 C32.0765946,12.7075903 32.6312574,12.1542661 33.3076401,12.1542661 C33.9920401,12.1542661 34.5386855,12.7075903 34.5386855,13.3823405 L34.5386855,13.3823405 Z M42.6866178,162.07314 C39.8593677,162.07314 37.5641858,159.78277 37.5641858,156.962343 C37.5641858,154.141917 39.8593677,151.860272 42.6866178,151.860272 C45.5138679,151.860272 47.8017613,154.141917 47.8017613,156.962343 C47.8017613,159.78277 45.5138679,162.07314 42.6866178,162.07314 L42.6866178,162.07314 Z M5.31575004,23.216388 L80.050197,23.216388 L80.050197,145.923489 L5.31575004,145.923489 L5.31575004,23.216388 Z" fill="#ECE9E6"></path>
				<image xlink:href="#{request.contextPath}/file/#{livroDetalheBean.livro.capaPath}" x="4.90685927" y="24.0532818" height="122.5551362" width="75.20674853" preserveAspectRatio="xMidYMin slice"></image>
			</g>
		</svg>
	</div>
</div>

</header>

<f:metadata>
    <f:viewParam id="id" name="id" value="#{livroDetalheBean.id}"/>
    <f:viewAction action="#{livroDetalheBean.carregarDetalhe()}"/>
</f:metadata>

<form action="https://www.casadocodigo.com.br/cart/add" method="POST" class="adicionarAoCarrinho">
    <ul class="adicionarAoCarrinho-listaOfertas">
        <li class="adicionarAoCarrinho-oferta" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <label class="adicionarAoCarrinho-infosDaOferta" for="product-variant-2055441665">
                <span class="adicionarAoCarrinho-tipoDaOferta" role="presentation" itemprop="category" itemscope="" itemtype="http://schema.org/Ebook">
                    <span class="adicionarAoCarrinho-tipoDaOferta-nome">
                        E-book
                    </span>
                    <small class="adicionarAoCarrinho-tipoDaOferta-detalhe">
                        (.pdf, .epub e .mobi)
                    </small>
                </span>
                <p class="adicionarAoCarrinho-preco">
                        <small class="adicionarAoCarrinho-preco-promocao">
                            <del class="adicionarAoCarrinho-preco-promocao-valor">R$ 1099,90</del> por
                        </small>
                    <span class="adicionarAoCarrinho-preco-valor" itemprop="price">
                        R$ #{livroDetalheBean.livro.preco}
                    </span>
                </p>
            </label>
                <button class="adicionarAoCarrinho-botaoComprar" type="submit" name="id" value="2055441665" title="Compre o E-book">
                    Comprar
                </button>
        </li>
    </ul>
</form>

<section class="conteudoDoLivro infoSection" itemprop="description" style="margin-top: 140px;">
    <h2 class="infoSection-titulo">
        Conteúdo
    </h2>
    <p class="infoSection-texto">
        #{livroDetalheBean.livro.descricao}
    </p>

    <p class="infoSection-texto">
        <a class="conteudoDoLivro-link" href="https://www.casadocodigo.com.br/pages/sumario-certificacao-java-associate">veja o sumário completo</a>
    </p>
</section>

<section class="infosAdicionaisDoLivro infoSection">
    <h2 class="infoSection-titulo">
        Dados do produto
    </h2>
    <dl class="infosAdicionaisDoLivro-info">
        <dt class="infosAdicionaisDoLivro-info-titulo">
            Número de páginas:
        </dt>
        <dd class="infosAdicionaisDoLivro-info-valor" itemprop="numberOfPages">
            460 páginas
        </dd>

        <dt class="infosAdicionaisDoLivro-info-titulo">
            ISBN:
        </dt>
        <dd class="infosAdicionaisDoLivro-info-valor" itemprop="isbn">
            978-85-5519-031-5
        </dd>


    </dl>
    <div class="infosAdicionaisDoLivro-links" role="presentation">

        <a class="infosAdicionaisDoLivro-button" href="http://erratas.casadocodigo.com.br/errata?book=Java%20SE%208%20Programmer%20I:%20O%20guia%20para%20sua%20certifica%C3%A7%C3%A3o%20Oracle%20Certified%20Associate">
            Submeter errata
        </a>

        <a class="infosAdicionaisDoLivro-button" rel="nofollow" href="http://forum.casadocodigo.com.br/" title="Ir para fórum de discussões">
            Fórum de discussões
        </a>
    </div>
</section>


<section class="compartilhar infoSection">
    <h2 class="infoSection-titulo">Compartilhe!</h2>
    <a class="compartilhar-facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://www.casadocodigo.com.br/products/livro-certificacao-java-associate" rel="nofollow" title="Compartilhe no Facebook" target="_blank">Compartilhe no Facebook</a>
    <a class="compartilhar-twitter" href="https://twitter.com/home?status=Certifica%C3%A7%C3%A3o%20Java%20na%20@casadocodigo%20http://www.casadocodigo.com.br/products/livro-certificacao-java-associate" rel="nofollow" title="Compartilhe no Twitter" target="_blank">Compartilhe no Twitter</a>
</section>
	
</article>

<div class="buscaDoRodape container" role="presentation">
	<form role="search" aria-labelledby="rotuloBuscaDoRodape" action="https://www.casadocodigo.com.br/search" method="GET" class="buscaDoRodape-formulario">
		<label id="rotuloBuscaRodape" class="buscaDoRodape-rotuloEscondido" for="campoBuscaRodape">Busque por autor, título, conteúdo...</label>
		<label class="buscaDoRodape-rotulo" for="campoBuscaRodape">Não encontrou o seu livro?</label>
		<fieldset class="buscaDoRodape-fieldset">
			<input type="hidden" name="type" value="product" />
			<input id="campoBuscaRodape" class="buscaDoRodape-campo" placeholder="O que você procura?" type="search" name="q" required="" aria-required="" />
			<button class="buscaDoRodape-enviar" type="submit">
				Buscar
			</button>
		</fieldset>
	</form>
</div>
	</main>
	<footer class="rodape">
	<div class="container" role="presentation">
		<div class="rodape-conteudo" role="presentation">
			<section class="rodape-secao">
				<a class="rodape-logo" href="https://www.casadocodigo.com.br/products/livro-certificacao-java-associate#" title="Voltar ao topo da página">
				<img src="#{request.contextPath}/resources/imagens/logo-footer.svg" alt="altLogoFooter" />
				</a>
			</section>
			<section class="rodape-secao rodape-secaoLinks">
				<h3 class="rodape-titulo">Links da <div role="presentation" class="rodape-titulo-espacador"></div>Casa do Código</h3>
				<ul>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="https://www.casadocodigo.com.br/pages/sobre-a-casa-do-codigo">
							Sobre a Casa do Código
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="https://www.casadocodigo.com.br/pages/quero-ser-um-autor">
							Quero ser um autor
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="https://feedback.userreport.com/500b990e-9d86-4af5-ad72-3be3151b8dc0/" target="_blank">
							Quero ler um livro sobre...
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://suporte.casadocodigo.com.br/">
							Perguntas frequentes
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://forum.casadocodigo.com.br/">
							Fórum de discussões
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://www.caelum.com.br/" target="_blank">
							Caelum Ensino e Inovação
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://www.galandra.com.br/" target="_blank">
							Galandra - Reforce seu inglês
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://livros.casadocodigo.com.br/" rel="nofollow">
							Meus E-books
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="http://www.codecrushing.com/" rel="nofollow">
							Code Crushing
						</a>
					</li>
					
					<li class="rodape-item">
						<a class="rodape-itemLink" href="https://www.casadocodigo.com.br/pages/politica-de-privacidade" rel="nofollow">
							Política de Privacidade
						</a>
					</li>
					
				</ul>
			</section><!--

		 --><section class="rodape-secao rodape-secaoOutros">
				<h3 class="rodape-titulo">Receba as novidades, promoções e lançamentos</h3>
				<form class="rodape-formularioDaNewsletter" action="https://docs.google.com/spreadsheet/formResponse?formkey=dFhxZ2tDalFiclU4T2FLZVY4UXVUc2c6MQ&amp;embedded=true&amp;ifq" method="POST">
					<input type="hidden" name="pageNumber" value="0" />
					<input type="hidden" name="backupCache" value="" />
					<input class="rodape-campoDaNewsletter" type="email" name="entry.0.single" value="" id="entry_0" placeholder="seu@email.com" /><!--
				 --><button class="rodape-botaoDaNewsletter" type="submit" name="submit" id="submit-newsletter">ok</button>
				</form>

				<h3 class="rodape-titulo rodape-tituloSecundario">Este site aceita</h3>
				<ul>
					<li class="rodape-formaDePagamento">
						<img src="#{request.contextPath}/resources/imagens/pagseguro.png" border="0" alt="pag seguro" />
					</li>
					<li class="rodape-formaDePagamento">
						<img src="#{request.contextPath}/resources/imagens/paypal.png" border="0" alt="paypal" />
					</li>
				</ul>

				<h3 class="rodape-titulo rodape-tituloSecundario">Nas redes sociais</h3>
				<ul>
					<li class="rodape-item rodape-redeSocial">
						<a class="compartilhar-facebook" href="http://www.facebook.com/casadocodigo" rel="nofollow" title="Casa do Código no Facebook" target="_blank">/CasaDoCodigo</a>
					</li>
					<li class="rodape-item rodape-redeSocial">
						<a class="compartilhar-twitter" href="http://www.twitter.com/casadocodigo" rel="nofollow" title="Casa do Código no Twitter" target="_blank">@casadocodigo</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</footer>
<footer class="categorias">
	<div class="container" role="presentation">
		<div class="categorias-footer" role="presentation">
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-agile">
						<h3 class="categorias-titulo">Livros de Agile</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-tdd">
									
									
	TDD com Java

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-scrum">
									
									
	Scrum

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-agile">
									
									
	Agile

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-testes-de-software">
									
									
	Testes de Software

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-arquitetura">
						<h3 class="categorias-titulo">Livros de Arquitetura</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-soa-webservices">
									
									
	SOA, web services e além

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-rest">
									
									
	REST

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-arquitetura-java">
									
									
	Arquitetura Java

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-apis-nodejs">
									
									
	APIs Node.js

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-bancos-de-dados">
						<h3 class="categorias-titulo">Livros de Bancos de Dados</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-mongodb">
									
									
	MongoDB

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-sql-oracle">
									
									
	SQL e banco de dados Oracle

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-plsql">
									
									
	Banco de Dados PL/SQL

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-banco-mysql">
									
									
	Banco MySQL

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-conceitos-iniciais">
						<h3 class="categorias-titulo">Livros de Conceitos Iniciais</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-programacao">
									
									
	Lógica de Programação

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-programador-apaixonado">
									
									
	O Programador Apaixonado

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-guia-frontend">
									
									
	Guia Front-End

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-jogos-html-javascript">
									
									
	Jogos com HTML5

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-desenvolvimento-web">
						<h3 class="categorias-titulo">Livros de Desenvolvimento Web</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-jsf-jpa">
									
									
	JSF e JPA

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-nodejs">
									
									
	Node.js

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-ruby-on-rails">
									
									
	Rails 4

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-rest">
									
									
	REST

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-design">
						<h3 class="categorias-titulo">Livros de Design</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-ux-user-experience">
									
									
	UX Design

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-photoshop">
									
									
	Adobe Photoshop

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-adobe-lightroom">
									
									
	Adobe Lightroom

								</a>
							</li>
							
						
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-devops-e-infraestrutura">
						<h3 class="categorias-titulo">Livros de Devops e Infraestrutura</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-git-github">
									
									
	Git e GitHub

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-devops">
									
									
	DevOps

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-linux">
									
									
	Linux

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-ferramentas-devops">
									
									
	Ferramentas DevOps

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-empreendedorismo">
						<h3 class="categorias-titulo">Livros de Empreendedorismo</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-startup-guia">
									
									
	Guia da Startup

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-seo">
									
									
	SEO na Prática

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-direto-ao-ponto">
									
									
	Direto ao Ponto

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-gestao-produtos">
									
									
	Gestão de Produtos

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-front-end">
						<h3 class="categorias-titulo">Livros de Front End</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-html-css">
									
									
	HTML5 e CSS3

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-javascript-jquery">
									
									
	jQuery e JavaScript

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-web-design-responsivo">
									
									
	Web Design Responsivo

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-web-mobile">
									
									
	Web Mobile

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-java">
						<h3 class="categorias-titulo">Livros de Java</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-jsf-jpa">
									
									
	JSF e JPA

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-rest">
									
									
	REST

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-design-patterns">
									
									
	Design Patterns

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-spring-framework">
									
									
	Spring Framework

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-linguagens">
						<h3 class="categorias-titulo">Livros de Linguagens</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-html-css">
									
									
	HTML5 e CSS3

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-ruby">
									
									
	Ruby

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-orientacao-objetos-java">
									
									
	Java e OO

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-java8">
									
									
	Java 8 Prático

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-mobile">
						<h3 class="categorias-titulo">Livros de Mobile</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-android">
									
									
	Google Android

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-web-design-responsivo">
									
									
	Web Design Responsivo

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-iphone-ipad-ios">
									
									
	iOS, iPhone e iPad

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-swift-ios">
									
									
	Swift e iOS

								</a>
							</li>
							
								
					</ul>
				</section>
			<!--
		 	 --><section class="categorias-secao">
		 	 		<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/collections/livros-de-tendencias">
						<h3 class="categorias-titulo">Livros de Tendências</h3>
					</a>
					
					<ul>
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-mean">
									
									
	MEAN

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-mongodb">
									
									
	MongoDB

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-meteor">
									
									
	Meteor

								</a>
							</li>
							
						
							<li class="categorias-item">
								<a class="categorias-itemLink" href="https://www.casadocodigo.com.br/products/livro-google-go">
									
									
	Google Go

								</a>
							</li>
							
								
					</ul>
				</section>
			
		</div>
	</div>
</footer>
<footer class="caelumGroup">
	<div class="caelumGroup-footer" role="presentation">
		<p>
			<a class="caelumGroup-title" href="http://www.caelum.com.br/grupo">
				<img src="#{request.contextPath}/resources/imagens/group-logo.svg" alt="Grupo Caelum" />
			</a>
		</p>

		<ul>
			<li>
				<a href="http://www.caelum.com.br/">
					<img alt="Caelum" class="caelumGroup-footer-logo" src="#{request.contextPath}/resources/imagens/caelum-logo.svg" />
				</a>
			</li>
			<li>
				<a href="http://www.alura.com.br/">
					<img alt="Alura" class="caelumGroup-footer-alura-logo" src="#{request.contextPath}/resources/imagens/alura-logo.svg" />
				</a>
			</li>
			<li>
				<a href="http://www.casadocodigo.com.br/">
					<img alt="Casa do Código" class="caelumGroup-footer-cdc-logo" src="#{request.contextPath}/resources/imagens/c-d-c-logo.svg" />
				</a>
			</li>
			<li>
				<a href="http://www.guj.com.br/">
					<img alt="GUJ" class="caelumGroup-footer-guj-logo" src="#{request.contextPath}/resources/imagens/g-u-j-logo.svg" />
				</a>
			</li>
		</ul>
	</div>
</footer>
	<script type="text/javascript" src="#{request.contextPath}/resources/js/trackExternalLinks.js"></script>
	<script type="text/javascript" src="#{request.contextPath}/resources/js/userreport.js"></script>
<div style="width: auto; height: auto; position: fixed; z-index: 100000004; display: block; visibility: visible; overflow-x: hidden; bottom: 22%; left: 0px;"><iframe id="crowd-shortcut" name="crowd-shortcut" frameborder="0" scrolling="no" class="urp-no-hide" src="#{request.contextPath}/resources/saved_resource.html" style="max-width: none !important; width: 187px; display: block; height: 44px; margin-left: -143px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; visibility: visible;"></iframe></div></body><object id="988ba819-7a1a-af97-0988-b98b699195a2" width="0" height="0" type="application/gas-events-uni"></object></html>